<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="C:\Nlog\logs\internalLog.txt">

  <targets>
    <target xsi:type="Database"
  name="dbTarget"
  connectionString="Data Source=.;Initial Catalog=MicroFrontEndDb;Integrated Security=true;"
  commandText="INSERT INTO Logger(CreatedOn,Message,Level,Exception) VALUES (@datetime,@msg,@level,@exception)">
      <parameter name="@datetime" layout="${date}" />
      <parameter name="@msg" layout="${message}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@exception" layout="${exception}" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="dbTarget" />
  </rules>
</nlog>